.navbar-nav li {
    margin-right: 55px;
    margin-left: 55px;
}


.img-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 55vh; /* Set container height to full viewport height */
}

.notice {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}
